<div class="login-container">
    <a (click) = 'navigateToHome()' class = "close-button" ><img title ="Close" id="close-logo" src="assets\closelogo.png" alt="Close"></a>
    <h2>Welcome back!</h2>
    <form action>
        <div class="input-group">
            <p>Username</p>
            <input placeholder="Email address or Phone Number" type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <p>Password</p>
            <input placeholder="Password" type="password" id="email" name="email" required>
        </div>
        <br>
        <button type='submit' id="login-button">LOGIN</button>
    </form>
    <p class="center-text">Don't have an account? <a routerLink="/signup" (click)="navigateToSignUp()">Sign up</a></p> 
</div>