.music_home_container{
    display:flex;
}

.music_left_bar
{
background-color: rgb(0, 0, 0);
height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.music_left_items
{
    margin: 15px;
    width: 100%;
    padding-left: 70px;
    cursor: pointer;
    
    
}

.music_left_items a {
    color: white;
    text-decoration: none;  
    
}
.music_left_items a:hover{
    color: lightgray;
}


.music_right_bar
{
    background-color: #343434;
    height: 100vh;
    overflow-y: auto;
    margin-top: 50px;
}


